{% extends 'base.html' %}

    {% block title %}
      Бренды
    {% endblock %}

    {% block content %}
    <div>
        <h3>Доступные бренды на сегодня:</h3>
        <dl>
            <dt><a href="/bmw/">
                <img src="/static/images/bmw-logo.png" alt="Логотип BMW" />
                <h2>BMW</h2></a></dt>
            <dd>
                Немецкий производитель автомобилей, мотоциклов, двигателей, а также велосипедов.
                В списке крупнейших публичных компаний мира Forbes Global 2000 за 2022 год BMW Group заняла 64-е место,
                а в списке Fortune Global 500 — 59-е место.
                Девиз компании — «Freude am Fahren», с нем. «С удовольствием за рулём».
                Для англоязычных стран был придуман также девиз «The Ultimate Driving Machine» -
                «Идеальная машина для вождения».
            </dd>
            <br>
            <dt><a href="/audi/">
                <img src="/static/images/audi-logo.jpg" alt="Логотип Audi" />
                <h2>Audi</h2></a></dt>
            <dd>
                Немецкая автомобилестроительная компания в составе концерна Volkswagen Group,
                специализирующаяся на выпуске автомобилей под маркой Audi.
                Девиз — Vorsprung durch Technik с нем. «Прогресс через технологии».
                Объём производства в 2016 году составил около 1 903 259 автомобилей.
            </dd>
            <br>
            <dt><a href="/ford/">
                <img src="/static/images/ford-logo.jpg" alt="Логотип Ford" />
                <h2>Ford</h2></a></dt>
            <dd>
                Американская автомобилестроительная компания.
                Четвёртый в мире производитель автомобилей по объёму выпуска за весь период существования.
                В числе крупнейших компаний США по размеру выручки в 2022 году (список Fortune 500)
                Ford Motor заняла 22-е место, а среди крупнейших компаний мира (список Fortune Global 500)
                — 53-е место. В списке крупнейших публичных компаний мира Forbes Global 2000 за 2022 год
                Ford Motor заняла 60-е место.
            </dd>
            <br>
            <dt><a href="/hot-rod/">
                <img src="/static/images/hot-rod-logo.jpg" alt="Логотип Hot-Rod" />
                <h2>Hot-Rod</h2></a></dt>
            <dd>
                Автомобиль, изначально американский, с серьёзными модификациями,
                рассчитанными на достижение максимально возможной скорости.
                Происхождение термина «хот-род» до конца не ясно.
                Одна из теорий гласит, что это сокращение от англ. hot roadster (горячий родстер).
                Для переделки в хот-роды выбирали чаще всего именно родстеры из-за их небольшой массы.
                Нередко для дополнительного облегчения с автомобилей снимали крылья,
                капоты и другие навесные части кузова, что придавало таким машинам весьма специфический внешний вид,
                позже ставший своего рода классикой.
                Непременная принадлежность хот-родов — большие задние колеса,
                позволяющие максимально полно реализовать мощность двигателя.
            </dd>
            <br>
        </dl>
    </div>
    {% endblock %}